.main {
    display: flex;
    flex-direction: row;
    
   
}

.main div {
   
    margin: 10px 20px;
    width: 100px;
}

.formFirst{
    padding: 10px;
}

.formSecond
{
    padding-top: 20px;
}
.formThird
{
    padding-top: 40px;
    padding-left: 20px;
}
.formFour
{
    padding-top: 30px;
}